# Lesson 01 
##### 05.04.22

# Operators in python / Errors and Debugging / Types

- Addition (+)
- Subtraction (-)
- Multiplication (*)
- Division
-- Float division (/)
-- Integer division (//)
-- Modulus (%)
- Exponentiation (**)

In [4]:
# Addition with Numbers
2 + 2

4

In [5]:
# Addition with Strings
'2' + '2'

'22'

In [6]:
3424323423423 + 324123123123

3748446546546

In [7]:
# Subtraction with Numbers
5 - 2

3

In [8]:
3424323423423 - 324123123123

3100200300300

In [9]:
# Subtraction with String
'2' - '2'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [10]:
# Multiplication with Numbers
4 * 2

8

In [11]:
324321421321 * 34324324

11132113545562512004

In [12]:
# Multiplication with String
'2' * '2'

TypeError: can't multiply sequence by non-int of type 'str'

In [14]:
'2' * 5

'22222'

In [16]:
'hello' * 2

'hellohello'

In [18]:
# Normal-division with Numbers
25 / 5

5.0

In [19]:
25 / 4

6.25

In [20]:
25 / 2

12.5

In [21]:
# Integer-division with Numbers
25 // 2

12

In [23]:
25 / 4.0

6.25

In [28]:
# Mod-division/Remainder with Numbers
3 % 2

1

In [26]:
4 % 2

0

In [29]:
31 % 2

1

In [30]:
342312 % 2

0

In [32]:
'23' / 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [33]:
# Exponentiation with Numbers
2 ** 2

4

In [34]:
2 ** 3

8

# Lesson 02 
##### 06.04.22

# Variables and Types

Common data type in Python
 - Numeric types
     - Integer e.g `2, 30, 1, 40`
     - Float e.g `2.1, 30.12, 40.23`
     
 - String types
     - Sequences and characters e.g `'Hello', 'x'`
   
- Type Conversion
    - Implicit type conversion: Python performs type conversion implicitly
    - Explicit type conversion: Python cannot perform type conversion, programmer has to be able to convert types manually.
    
    
- Python inbuilt Type conversion Functions: y = f(x)
    - Use `type(object)` to check the type of an object
    - Use `str(int type)` to convert from int to str.
    - Use `int(str type)` to convert from str to int.
    
Variables
  - What/Why variables:
      In the strict sense variables in python are a binding between names and values, names can go on to take new values. Variables are not direct assignment in a strict sense.
      
  - Naming variables

In [1]:
20 * 3

60

In [2]:
20 * '2'

'22222222222222222222'

In [3]:
'Hello' * 3

'HelloHelloHello'

In [4]:
'2' * '2'

TypeError: can't multiply sequence by non-int of type 'str'

Implicit type conversion

In [5]:
# If you try to do this
4 / 3

1.3333333333333333

In [6]:
# Python might do this
4.0 / 3.0

1.3333333333333333

In [8]:
# This is you explicitly forcing the division type to be an integer division
4.0 // 3.0

1.0

Explicit type conversion

In [9]:
'2' + '2'

'22'

In [10]:
type('2')

str

In [11]:
type(2)

int

In [12]:
type(2)

int

In [13]:
type(int('2'))

int

In [15]:
'2' + '3'

'23'

In [14]:
int('2') + int('3')

5

In [16]:
2 + 2

4

In [17]:
str(2) + str(2)

'22'

In [18]:
str(2 + 2)

'4'

In [19]:
'ThankGod'

'ThankGod'

In [20]:
'Jane'

'Jane'

In [21]:
hb = 'ThankGod'
wn = 'Jane'

In [22]:
hb + " " + wn

'ThankGod Jane'

#a = b*c + d

In [23]:
b = 3
c = 2
d = 5

a = b*c + 5

In [24]:
a

11

In [25]:
first name = 'ThankGod'

SyntaxError: invalid syntax (233501309.py, line 1)

In [36]:
first_name = 'ThankGod'

In [37]:
second_name = 'Itua'

In [39]:
full_name = first_name + ' ' + second_name
full_name

'ThankGod Itua'

# Lesson 03 
##### 08.04.22

## More on Variables and types

- More on storing and manipulating values
- Calling functions
    - Reading input
    - Displaying output/Output formatting/Working with string formats
    - Import functions using maths package

- Exercises
- Weekend Assignments/Projects

In [1]:
name = 'ThankGod'

In [2]:
x = 4

In [3]:
x

4

In [4]:
y = x + 3

In [5]:
y

7

In [6]:
user_name = 'ThankGod Itua'

In [7]:
friction_factor = 0.34

### Variable naming rules

- Variables names most always begin with an alphabet. e.g `1plus2`
- Compound variable names cannot be spaced. e.g `one plus two`
    - Snake case naming convention e.g `one_plus_two`
    - Camel case naming convention e.g `OnePlusTwo`
- Use names that convey the meaning of what value the variable expects

In [8]:
1plus2 = 1 + 2

SyntaxError: invalid syntax (36478823.py, line 1)

In [9]:
one_plus_two =  1 + 2

In [10]:
one plus two = 1 + 2

SyntaxError: invalid syntax (3642639386.py, line 1)

In [11]:
name = 'John'
age = 'Great' # age = 21
address = 23 # not enough information

### Forms/Types of Variable declaration/ Reading Inputs

- Static declaration: This is mostly a direct binding between variables names and values. e.g `age = 23`

- Dynamic declaration: This can mostly work when the programmer has not clear idea what the value for a variable should be.
    - Use the `input()` this takes in a string as user promt and then returns a string as output.

`Note: Use Shift+Tab to get short documentation string about a function`

In [12]:
type(age)

str

In [13]:
input('Enter your age')

Enter your age21

'21'

In [16]:
age = input('Enter your age')

Enter your age32

In [17]:
age

'32'

In [18]:
age = 21

In [19]:
age = 32

In [20]:
age = input('Enter your Name')

Enter your NameJohn

In [22]:
name = input('Enter your Name: ')

Enter your Name: John

In [23]:
name

'John'

### Displaying outputs

- `print()` function is a python inbuilt function for managing user print output. 

- `print(f'')` format string type
- `print("".format())` an alternative

Hints:
 - Use a/A to add a new cell above
 - b/B to add a new cell below
 - use m/M to convert from code to markdown
 - use y to convert from markdown to code
 - use H to access keyboard shortcuts
 - use keyboard `Tab -><-` to automatically complete variable names that are already stored in memory.

In [25]:
print('Hello World!!!')

Hello World!!!

In [26]:
'Hello World!!!'

'Hello World!!!'

In [27]:
print('Hello', 'World', 'I', 'am', 'New', 'To', 'Python')

Hello World I am New To Python

In [28]:
first_name = 'John'
second_name = 'Answer'

print(first_name, second_name)

John Answer

In [29]:
print('John', 'Answer', first_name, second_name)

John Answer John Answer

In [30]:
print('John', 'Answer', 'first_name', 'second_name')

John Answer first_name second_name

In [31]:
create_new_data = 'ccl_spe_data_base'

In [33]:
print(create_new_data, 'ccl_spe_data_base', 23)

ccl_spe_data_base ccl_spe_data_base 23

In [34]:
'John' + 'Answer'

'JohnAnswer'

In [35]:
print('John' + 'Answer')

JohnAnswer

In [39]:
print('John','Answer')

John Answer

In [38]:
print('John' + " " + 'Answer')

John Answer

In [40]:
#yourbackground('name', 'location', 'family home address', 'relatives', ...)

In [53]:
print('John','Answer', sep='', end='\t') # \n is a new line and \t is a tab
print('John', 'Question')

JohnAnswer	John Question

In [48]:
print(2 + 2)
print(3 + 3)

4
6

### Using the math package

- import math
- from math import sqrt or pow
- from math import *

In [54]:
a = 1
b = 2
c = 3

det = sqrt(b**2 - 4 * a * c)

NameError: name 'sqrt' is not defined

#### Common Python Errors

- `Type Error`: Inconsistency in python data type usage
- `Syntax Error`: """ in python syntax or language usage
- `Name Error`: """ in using keyword arguments or names that dont exist
- `ModuleNotFoundError`: """ trying to import what doesnt exit
- `ValueError`: Logical inconsistency in the expected input value to a function parameter.

In [55]:
import mathematics

ModuleNotFoundError: No module named 'mathematics'

In [56]:
import math

In [57]:
math.sqrt(b**2 - 4 * a * c)

ValueError: math domain error

In [59]:
import math
sqrt(b**2 - 4 * a * c)

NameError: name 'sqrt' is not defined

In [63]:
from math import sqrt

In [64]:
x = b**2 - 4 * a * c
sqrt(x)

ValueError: math domain error

In [66]:
a = 1
b = 2
c = 3

x = b**2 - 4 * a * c
print(x)

-8

In [65]:
math.sqrt(4)

2.0

In [67]:
math.sqrt(-8)

ValueError: math domain error

In [68]:
math.exp(2)

7.38905609893065

In [70]:
y = round(math.exp(2), 3)

In [72]:
print('The output of using round on maths.exp is ' + str(y))

The output of using round on maths.exp is 7.389

In [ ]:
print('The output of using round on maths.exp is ' + str(y))

In [76]:
'the game is start at {0}, ends at {1}'.format('3 pm', '4 pm')

'the game is start at 3 pm, ends at 4 pm'

In [80]:
print('the game start at {}, ends at {}'.format('3 pm', '4 pm'))

the game start at 3 pm, ends at 4 pm

In [83]:
start_time = input('Enter start time: ')
stop_time = input('Enter stop time: ')

print('the game start at {}, ends at {}'.format(start_time, stop_time))

Enter start time: 3 pm
Enter stop time: 4 pm
the game start at 3 pm, ends at 4 pm

In [84]:
print('the game start at {start_time}, ends at {stop_time}')

the game start at {start_time}, ends at {stop_time}

In [85]:
print(f'the game start at {start_time}, ends at {stop_time}')

the game start at 3 pm, ends at 4 pm

In [90]:
current_age = int(input('Enter current age: '))
print(f'You will be {current_age + 5} in 5 years time')

Enter current age: 21
You will be 26 in 5 years time

In [91]:
'my name is {}'.format('John')

'my name is John'

In [100]:
name = 'John'
f'my name is {name}'

'my name is John'

In [95]:
"Hello John, The teacher said 'class today starts at 9am'"

"Hello John, The teacher said 'class today starts at 9am'"

In [96]:
'Hello John, The teacher said 'class today starts at 9am''

SyntaxError: invalid syntax (254408077.py, line 1)

In [ ]:
name = 'John'
f'my name is {name}'

In [99]:
f"my name is {'John'}"

'my name is John'

In [101]:
print(f"my name is {'John'}")

my name is John